.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #8b8b8b;
  min-height: 100vh;
  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tile {
  border: 3px solid #C51A4A;
  border-radius: 5px;
}

h1 {
  margin: 3px
  
}





.container {
  display: grid;
  
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  color: white;
  
  
}
 
.item-cam {
  border: 3px solid #C51A4A;
  border-radius: 5px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item-light {
  border: 3px solid #C51A4A;
  border-radius: 5px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item-display {
  border: 3px solid #C51A4A;
  border-radius: 5px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}


@media only screen and (max-width: 900px) {
  /* For mobile phones: */
  [class="container"] {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%
  }

  .item-cam {
    border: 3px solid #C51A4A;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  .item-light {
    border: 3px solid #C51A4A;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  .item-display {
    border: 3px solid #C51A4A;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  img {
    width: 100%;
    
  }

  .raspilogo {
    width: auto
  }

  video {
    width: 100%
  }
}